@tailwind base;
@tailwind components;
@tailwind utilities;

#linkedin-ai-writer-container {
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-container {
  width: 240px;
  height: 480px;
  padding: 1rem;
}
